.welcome-container {
  height: 100%; 
  background: linear-gradient(to right, #4a90e2, #9013fe);
  display: flex;
  justify-content: center;
  align-items: center; 
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 0; 
  height: 100vh;
  display: flex;
  align-items: center;
}
